# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

# Firebase
google-services.json
GoogleService-Info.plist
firebase-sa-key.json

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store

# Env
.env
.env.local
*.key
